.marquee {
  display: flex;
  overflow: hidden;
  span {
    display: flex;
    animation: marquee 24s linear infinite;
    overflow: hidden;
  }
}

@keyframes marquee {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}