.footer__container--outer {
  display: flex;
  justify-content: flex-end;
  height: 6rem;
  margin-bottom: 0;
}

.footer__container--inner {
  display: flex;
  width: 92%;
  background-color: $light-grey;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.footer__arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  img {
    max-height: 3rem;
  }
}
